.html {
  background-color: white;
}

.logo {
display: flex
color: MediumAquamarine;
}

.navigation {
display: flex;
display: inline-block;
}

.header  {
font-family: Verdada;
font-size: 14px;
font-weight: bold;
color: MediumAquamarine;
}
.a {
  font-size: 18px;
  color: black;
}
